.bx-core-adm-dialog, .bx-core-adm-dialog a, .bx-core-adm-dialog span, .bx-core-adm-dialog div
{
	 /*Protection from user styles */
	letter-spacing:normal;
	list-style:none;
	text-align: left;
	text-indent:0;
	text-transform: none;
	visibility:visible;
	white-space: normal;
	word-spacing:normal;
	vertical-align:baseline;
	text-decoration: none;
	color:#000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 13px;
}


.bx-core-adm-dialog {
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 18px 37px 6px rgba(16,39,53,.69);
	box-shadow: 0 18px 37px 6px rgba(16,39,53,.69);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	position: absolute;
	overflow: hidden;
}


.bx-core-adm-dialog a:active,
.bx-core-adm-dialog a:visited,
.bx-core-adm-dialog a:link { color:#2675d7; text-decoration: underline; font-size: inherit;}
.bx-core-adm-dialog a:hover {color:#2675d7; text-decoration:underline; background: none; font-size: inherit;}

.bx-core-adm-dialog select, .bx-core-adm-dialog input, .bx-core-adm-dialog textarea {outline:none; font-size:13px;}
.bx-core-adm-dialog textarea {font-size:13px;}
.bx-core-adm-dialog table {font-size:13px;}
.bx-core-adm-dialog td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing:normal;
	list-style:none;
	text-align: left;
	text-indent:0;
	text-transform: none;
	text-decoration: none;
	visibility:visible;
	white-space: normal;
	word-spacing:normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: inherit;
	background: none;
	color: #000;
}


.bx-core-adm-dialog .bx-action-href,
.bx-core-adm-dialog .bx-action-href:visited,
.bx-core-adm-dialog .bx-action-href:link
{
	text-decoration:none;
	border-bottom:1px dashed #2747BF;
	outline:none;
	display: inline-block;
}

.bx-core-adm-dialog .bx-action-href:hover
{
	border-bottom-color:#134889;
	text-decoration:none;
	color:#134889;
}

.bx-core-adm-dialog .bx-core-adm-dialog-head {
	background-color: #e2ebee;
	border-bottom:1px solid#a9a9a9;
	-webkit-box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #ecf1f3 inset, inset 0 1px 0 0 #fff, inset 0 0 0 1px #e9f0f2;
	box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #ecf1f3 inset, inset 0 1px 0 0 #fff, inset 0 0 0 1px #e9f0f2;
	border-radius:4px 4px 0 0;
	height: 49px;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
}

.bx-core-adm-dialog .bx-core-adm-dialog-head-inner {
	display: inline-block;
	margin: 12px 0 0 18px;
	font-size: 20px;
	text-shadow:0 1px #fff;
	white-space: nowrap;
	color: #282a2c;
}

.bx-core-adm-dialog .bx-core-adm-dialog-head-icons {
	position: absolute;
	top: 0;
	right: 0;
	margin: 11px 0 0 15px;
	padding: 0 15px 0 0;
	background-color: #E2EBEE;
}

.bx-core-adm-dialog .bx-core-adm-icon-expand, .bx-core-adm-dialog .bx-core-adm-icon-narrow, .bx-core-adm-dialog .bx-core-adm-icon-close
{
	display: inline-block;
	height: 30px;
	width: 28px;
	cursor: pointer;
	background: url("popup_sprite.png") no-repeat 0 0 #E2EBEE;
}

.bx-core-adm-dialog .bx-core-adm-icon-expand {background-position: 0 0;}
.bx-core-adm-dialog .bx-core-adm-icon-narrow {background-position: 0 -120px;}
.bx-core-adm-dialog .bx-core-adm-icon-close {background-position: 0 -30px;}
.bx-core-adm-dialog .bx-core-adm-icon-expand:hover {background-position: 0 -60px;}
.bx-core-adm-dialog .bx-core-adm-icon-narrow:hover {background-position: 0 -150px;}
.bx-core-adm-dialog .bx-core-adm-icon-close:hover {background-position: 0 -90px;}

.bx-core-adm-dialog .bx-core-adm-dialog-content-wrap
{
	margin-top: 54px;
	padding: 12px 12px 14px;
}

.bx-core-adm-dialog .bx-core-adm-dialog-tabs {
}

.bx-core-adm-dialog .bx-core-adm-dialog-tabs .adm-detail-tab {
	display: inline-block !important;
	cursor: pointer !important;
	background: url("bx-admin-sprite-small-1.png") repeat-x scroll 0 -2728px transparent !important;
	border-radius: 2px 2px 0 0 !important;
	border: none !important;
	color: #1C53A2 !important;
	font-size: 13px !important;
	font-weight: bold !important;
	margin: 0 7px 0 0 !important;
	padding: 10px 25px 10px !important;
	text-shadow: 0 1px #FFFFFF !important;
	vertical-align: top !important;
	height: auto !important;
	position: relative;
	z-index: 1;
}

.bx-core-adm-dialog .bx-core-adm-dialog-tabs .adm-detail-tab-active
{
	background:#f5f9f9 !important;
	border:1px solid #dce7ed !important;
	border-bottom:none !important;
	color:#000 !important;
	margin: 0 7px -2px 0 !important;
	padding: 9px 24px 11px !important;
	border-bottom:none !important;
	height: auto !important;
}

.bx-core-adm-dialog .bx-core-adm-dialog-tabs .adm-detail-tab-active:first-child:before
{
	display: none !important;
}

.bx-core-adm-dialog .bx-core-adm-dialog-content
{
	overflow: auto;
	border: solid 1px #dce7ed;
	background-color: #f5f9f9;
}

.bx-core-adm-admin-dialog .bx-core-adm-dialog-content
{
	padding:15px 22px 22px;
}

.bx-core-adm-dialog .adm-detail-content-cell-l {
	text-align:right;
	padding: 5px 4px 7px 0;
	background: none;
	text-indent:0;
	text-transform: none;
	text-decoration: none;
	visibility:visible;
	white-space: normal;
	word-spacing:normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: inherit;
	color: inherit;
}

.bx-core-adm-dialog .adm-detail-content-cell-r {
	padding: 5px 0 7px 4px;
	background: none;
	text-indent:0;
	text-transform: none;
	text-decoration: none;
	visibility:visible;
	white-space: normal;
	word-spacing:normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: inherit;
	color: inherit;
}

.bx-core-adm-dialog .adm-detail-content-cell {padding: 5px 0 7px;}

.bx-core-adm-dialog .adm-detail-valign-top { vertical-align: top; }
.bx-core-adm-dialog .adm-detail-valign-middle { vertical-align: middle; }
.bx-core-adm-dialog .adm-detail-valign-bottom { vertical-align: bottom;}

.adm-detail-file-row .adm-detail-content-cell-l { padding-top: 12px; vertical-align: top; }
.adm-detail-file-image { padding-top: 7px; }
.adm-detail-file-row .bx-input-file-desc { display:block; margin-top: -7px; }

.adm-detail-iblock-types { width: 150px; }
.adm-detail-iblock-list { width: 200px; }

.bx-core-adm-dialog .adm-detail-content-table > tbody > .heading td {
	padding:8px 70px 10px!important;
}
.bx-core-adm-dialog .bx-core-adm-dialog-buttons {
	padding-top: 12px;
	position: relative;
}

.bx-core-adm-dialog .bx-core-adm-dialog-buttons input {margin-right:12px;}


.bx-core-adm-dialog .bx-core-adm-dialog-head-block {
	background-position: 99% center !important;
	background-repeat: no-repeat;
	border-bottom: 1px solid #DCE7ED;
	font-size: 12px;
	padding: 6px 30px 9px 9px;
	margin-bottom: 12px;
}

.bx-core-adm-dialog .bx-core-adm-dialog-head-block p {margin: 0;}

.bx-core-adm-dialog .bx-core-adm-dialog-head-block .title {
	font-weight: bold;
	font-size: 14px;
	margin: 0 0 5px;
}

.bx-core-adm-dialog .bx-core-adm-dialog-content-wrap-inner
{
	padding: 12px;
}

.bx-quirks .bx-core-adm-dialog .bx-core-adm-dialog-content-wrap-inner
{
	padding: 12px 0;
}

.bx-core-dialog-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
	background-color: rgba(57,60,67,0.82);
}

.bx-ie9 .bx-core-dialog-overlay {
	background-color:#393c43;
	opacity:0.82;
}

.bx-ie8 .bx-core-dialog-overlay, .bx-quirks .bx-core-dialog-overlay
{
	background-color:#393c43;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}


.bx-core-adm-dialog .bx-core-resizer {background: url("popup_sprite.png") no-repeat right -188px; position: absolute; z-index: 6; bottom: 3px; right: 2px; height: 20px; width: 20px;
}


.bx-core-adm-dialog .bx-core-adm-dialog-tabs .adm-detail-tab-last {
	margin-right: 0;
}

.bx-core-adm-dialog .adm-detail-title {
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	margin-bottom: 14px;
	padding: 0 0 15px;
	text-align: left;
}

.bx-core-adm-dialog .adm-detail-content-item-block
{
	border: none;
	padding: 0;
}

.bx-core-adm-dialog .adm-detail-content {padding: 0}

.bx-core-adm-dialog .adm-detail-content-item-block table {
	border:none;
	border-spacing:0;
	font-size:13px;
	margin:0;
	width:100%;
}


.bx-core-adm-dialog .adm-input,
.bx-core-adm-dialog input[type="text"],
.bx-core-adm-dialog input[type="password"],
.bx-core-adm-dialog input[type="email"] {
	font-size: 13px;
	height: 29px;
	padding: 0 5px;
}

.bx-core-adm-dialog .bx-core-adm-dialog-buttons .adm-btn-add {
	float: right;
}

.bx-ie8 .bx-core-adm-dialog-buttons .adm-btn-add,
.bx-quirks .bx-core-adm-dialog-buttons .adm-btn-add
{
	float: none;
	position: absolute;
	right: 28px;
}

/********************* menu *************************/

.bx-core-popup-menu {
	position: absolute;
	border: solid 1px #181b20;
	border-radius: 0 0 2px 2px;
	background-color: rgba(52, 59, 74, 0.94);
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(212, 212, 212, 0.12);
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(212, 212, 212, 0.12);
	letter-spacing:normal;
	list-style:none;
	text-align: left;
	text-indent:0;
	text-transform: none;
	visibility:visible;
	white-space: normal;
	word-spacing:normal;
	vertical-align:baseline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
}

.bx-ie8 .bx-core-popup-menu,
.bx-quirks .bx-core-popup-menu
{
	background-color: #3a4150;
}

.bx-quirks .bx-core-popup-menu
{
	width: 220px !important;
	margin-top: -2px;
	margin-left: -2px;
}

.bx-core-popup-menu-level0
{
	background-color: rgba(30, 36, 50, 0.94);
	border-radius: 2px;
}

.bx-ie8 .bx-core-popup-menu-level0,
.bx-quirks .bx-core-popup-menu-level0
{
	background-color: #252d3f;
}


/*.bx-core-popup-menu-top*/
.bx-core-popup-menu-angle,
.bx-core-popup-menu-angle-bottom {
	display: block;
	position: absolute;
	height: 10px;
	width: 17px;
	content: "";
	line-height: 1px;
	font-size: 1px;
	padding: 0;
	margin: 0;
}

.bx-core-popup-menu-angle {
	top: -9px;
	background: url("popup_menu_sprite_2.png") no-repeat left bottom;
}

.bx-core-popup-menu-angle-bottom {
	bottom: -9px;
	background: url("popup_menu_sprite_2.png") no-repeat left -1470px;
}

.bx-core-popup-menu-item {
	display: block;
	text-decoration: none;
	border-top: solid 1px transparent;
	border-right: solid 1px transparent;
	color: #9ca4b2 !important;
	min-width: 120px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.bx-ie8 .bx-core-popup-menu-item,
.bx-quirks .bx-core-popup-menu-item
{
	width: 280px;
	overflow-x: hidden;
}

.bx-core-popup-menu-item:hover,
.bx-core-popup-menu-item-opened
{
	border-top: solid 1px #55a8d9;
	border-right: solid 1px #2278b7;
	background-image: -webkit-linear-gradient(top, #2a92d0, #1d66b5);
	background-image: -moz-linear-gradient(top, #2a92d0, #1d66b5);
	background-image: -ms-linear-gradient(top, #2a92d0, #1d66b5);
	background-image: -o-linear-gradient(top, #2a92d0, #1d66b5);
	background-image: linear-gradient(top, #2a92d0, #1d66b5);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	color: #ebebeb !important;
}

.bx-ie8 .bx-core-popup-menu-item-text,
.bx-quirks .bx-core-popup-menu-item-text
{
	overflow-x: hidden;
}

.bx-ie8 .bx-core-popup-menu-item:hover,
.bx-ie8 .bx-core-popup-menu-item-opened,
.bx-ie9 .bx-core-popup-menu-item:hover,
.bx-ie9 .bx-core-popup-menu-item-opened
{
	background-color: #257fc4;
}

.bx-core-popup-menu-item-text {
	display: block;
	padding: 0 10px 0 40px;
	height: 28px;
	line-height: 26px;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bx-core-popup-menu-item-icon {
	display: block;
	position: absolute;
	height: 28px;
	width: 40px;
}

.bx-core-popup-menu-no-icons .bx-core-popup-menu-item-text {
	padding-left: 19px;
}

.bx-core-popup-menu-no-icons .bx-core-popup-menu-item-icon
{
	display: none;
}

.adm-menu-content {
	background: url("popup_menu_sprite_2.png") no-repeat left -30px;
}

.bx-core-popup-menu-item:hover .adm-menu-content,
.bx-core-popup-menu-item-opened .adm-menu-content
{
	background: url("popup_menu_sprite_2.png") no-repeat left -60px;
}

.adm-menu-services {
	background: url("popup_menu_sprite_2.png") no-repeat left -90px;
}

.bx-core-popup-menu-item:hover .adm-menu-services,
.bx-core-popup-menu-item-opened .adm-menu-services
{
	background: url("popup_menu_sprite_2.png") no-repeat left -120px;
}

.adm-menu-settings {
	background: url("popup_menu_sprite_2.png") no-repeat left -150px;
}

.bx-core-popup-menu-item:hover .adm-menu-settings,
.bx-core-popup-menu-item-opened .adm-menu-settings
{
	background: url("popup_menu_sprite_2.png") no-repeat left -180px;
}

.adm-menu-favorites {
	background: url("popup_menu_sprite_2.png") no-repeat left -210px;
}

.bx-core-popup-menu-item:hover .adm-menu-favorites,
.bx-core-popup-menu-item-opened .adm-menu-favorites
{
	background: url("popup_menu_sprite_2.png") no-repeat left -240px;
}

.adm-menu-analytics {
	background: url("popup_menu_sprite_2.png") no-repeat left -300px;
}

.bx-core-popup-menu-item:hover .adm-menu-analytics,
.bx-core-popup-menu-item-opened .adm-menu-analytics
{
	background: url("popup_menu_sprite_2.png") no-repeat left -330px;
}

.adm-menu-marketPlace {
	background: url("popup_menu_sprite_2.png") no-repeat left -360px;
}

.bx-core-popup-menu-item:hover .adm-menu-marketPlace,
.bx-core-popup-menu-item-opened .adm-menu-marketPlace
{
	background: url("popup_menu_sprite_2.png") no-repeat left -390px;
}

.adm-menu-desktop {
	background: url("popup_menu_sprite_2.png") no-repeat left -420px;
}

.bx-core-popup-menu-item:hover .adm-menu-desktop,
.bx-core-popup-menu-item-opened .adm-menu-desktop
{
	background: url("popup_menu_sprite_2.png") no-repeat left -450px;
}

.adm-menu-store {
	background: url("popup_menu_sprite_2.png") no-repeat left -480px;
}

.bx-core-popup-menu-item:hover .adm-menu-store,
.bx-core-popup-menu-item-opened .adm-menu-store
{
	background: url("popup_menu_sprite_2.png") no-repeat left -510px;
}

.adm-menu-marketing {
	background: url("popup_menu_sprite_2.png") no-repeat left -1353px;
}

.bx-core-popup-menu-item:hover .adm-menu-marketing,
.bx-core-popup-menu-item-opened .adm-menu-marketing {
	background-position: left -1326px;
}

.bx-core-popup-menu-item-checked .bx-core-popup-menu-item-text
{
	background: url("popup_menu_sprite_2.png") no-repeat left -540px;
}

.bx-core-popup-menu-item-checked:hover .bx-core-popup-menu-item-text
{
	background: url("popup_menu_sprite_2.png") no-repeat left -570px;
}

.bx-core-popup-menu-item-opener .bx-core-popup-menu-item-text
{
	padding-right: 20px;
	background: url("popup_menu_sprite_2.png") no-repeat right -270px;
}

.bx-core-popup-menu-item-opener:hover .bx-core-popup-menu-item-text,
.bx-core-popup-menu-item-opened .bx-core-popup-menu-item-text
{
	background: url("popup_menu_sprite_2.png") no-repeat right 0;
}

.bx-core-popup-menu-separator {
	height: 1px;
	margin: 0 1px;
	background-color: rgba(172, 179, 191, 0.2);
	font-size: 1px;
	line-height: 1px;
}

.bx-ie8 .bx-core-popup-menu-separator, .bx-quirks .bx-core-popup-menu-separator
{
	background-color: #444b58;
}

.bx-core-popup-menu-item-disabled .bx-core-popup-menu-item-text {
	color: #525A68;
}

.bx-core-popup-menu-item-disabled:hover .bx-core-popup-menu-item-text
{
	color: #858D9B;
}

/* standard menu icons */


/*menu icons*/
.bx-core-popup-menu-item .checked {background-image:url("checkbox.gif");}

/*component menu icons */
.bx-core-popup-menu-item .parameters {background-image:url("parameters.gif");}
.bx-core-popup-menu-item .edit {background-image:url("edit.gif");}
.bx-core-popup-menu-item .copy {background-image:url("copy.gif");}
.bx-core-popup-menu-item .edit-common {background-image:url("edit_common.gif");}
.bx-core-popup-menu-item .edit-wf {background-image:url("edit_wf.gif");}
.bx-core-popup-menu-item .menu-edit {background-image:url("menu_edit.gif");}
.bx-core-popup-menu-item .menu-add {background-image:url("menu_add.gif");}
.bx-core-popup-menu-item .menu-delete {background-image:url("menu_delete.gif");}
.bx-core-popup-menu-item .menu-template {background-image:url("menu_templ.gif");}
.bx-core-popup-menu-item .nav-template {background-image:url("nav_templ.gif");}
.bx-core-popup-menu-item .parameters-2 {background-image:url("parameters-1.gif");}
.bx-core-popup-menu-item .edit-2 {background-image:url("edit-1.gif");}
.bx-core-popup-menu-item .edit-css {background-image:url("edit_css.gif");}
.bx-core-popup-menu-item .copy-2 {background-image:url("copy-1.gif");}
.bx-core-popup-menu-item .del-cache {background-image:url("delcache.gif");}

/*panel menu icons */
.bx-core-popup-menu-item .panel-new-file {background-image:url("new_file.gif");}
.bx-core-popup-menu-item .panel-new-file-template {background-image:url("create_template.gif");}
.bx-core-popup-menu-item .panel-new-folder {background-image:url("new_folder.gif");}
.bx-core-popup-menu-item .panel-new-folder-template {background-image:url("create_folder_template.gif");}
.bx-core-popup-menu-item .panel-edit-visual {background-image:url("edit_html.gif");}
.bx-core-popup-menu-item .panel-edit-text {background-image:url("edit_text.gif");}
.bx-core-popup-menu-item .panel-edit-php {background-image:url("edit_php.gif");}
.bx-core-popup-menu-item .panel-file-props {background-image:url("file_props.gif");}
.bx-core-popup-menu-item .panel-folder-props {background-image:url("folder_props.gif");}
.bx-core-popup-menu-item .panel-file-access {background-image:url("file_access.gif");}
.bx-core-popup-menu-item .panel-folder-access {background-image:url("folder_access.gif");}
.bx-core-popup-menu-item .panel-file-delete {background-image:url("delete_file.gif");}
.bx-core-popup-menu-item .panel-folder-delete {background-image:url("delete_folder.gif");}
.bx-core-popup-menu-item .panel-page-cache {background-image:url("page_cache.gif");}
.bx-core-popup-menu-item .panel-comp-cache {background-image:url("comp_cache.gif");}
.bx-core-popup-menu-item .icon-delete {background-image:url("delete.gif");}
.bx-core-popup-menu-item .panel-key {background-image:url("key.gif");}
.bx-core-popup-menu-item .panel-user {background-image:url("user.gif");}

/* diff old styles */

.bx-width30 {width:30% !important;}
.bx-width50 {width:50% !important;}
.bx-width100 {width:100% !important;}
.bx-width0 {width:0% !important;}

.bx-popup-label {
	text-align: right !important;
	padding: 6px 2px 10px 0 !important;
	vertical-align: top !important;
	background: transparent;
	font-size: inherit;
	color: #000;
}
.bx-core-adm-dialog .section td {
	background-image:none !important;
	background-color:#E0E8EA !important;
	color: #4B6267;
	font-size: 14px;
	font-weight: bold;
}

.bx-core-adm-dialog .section > td {
	padding: 5px 10px;
}

/*.bx-menu-layout {background-color: white;}*/

#bx-admin-prefix .bx-menu-current-row {background-color: #E2E7CB !important;}

#bx-admin-prefix .view-area {
	-moz-box-sizing: border-box;
	cursor: text;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	height: 31px !important;
	margin: 3px !important;
}

#bx-admin-prefix .edit-field {
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url("pencil.gif");
	font-size: 13px;
	padding: 7px 5px 0;
	margin: 2px;
	height: 22px;
	width: 232px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	color: #3F4B54;
	display: inline-block;
	outline: medium none;
	vertical-align: middle;
}

#bx-admin-prefix .edit-field:hover {
	padding: 7px 5px 0;
	background-color: #FFFFFF;
	border-color: #87919C #959EA9 #9EA7B1;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
	border-image: none;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
}

.bx-core-adm-dialog a.bx-popup-sign {display:block; width:11px; height:11px; overflow:hidden; margin-right:3px; background-repeat:no-repeat; background-position:top left;}
.bx-core-adm-dialog a.bx-popup-minus {background-image:url("minus.gif");}
.bx-core-adm-dialog a.bx-popup-plus {background-image:url("plus.gif");}

/* styles for WYSIWYG/HTML/PHP editors in public mode - BX.CEditorDialog */
.bx-core-adm-dialog .bx-core-editor-dialog-content-wrap{
	padding: 12px !important;
	margin-top: 50px !important;
}
.bx-core-adm-dialog .bx-core-editor-dialog-buttons{
	padding-top: 12px;
}
.bx-core-adm-dialog .bx-core-editor-dialog-buttons input {
	margin-right: 12px;
}

/* styles for auth dialog */
.bx-core-popup-auth-field {
	padding: 5px 0;
}

/* wizard dialog */
.bx-core-adm-dialog .bx-core-wizard-dialog-content-wrap { padding: 0 0 14px !important; margin-top: 54px !important; }
