.i_menu {
	position:absolute;
	display:none;
	width:100%;
	background: #ecf1f6;
	padding:0;
	top: 47px;
	margin: 0;
	padding: 0;
	padding: 20px 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:3px;
	box-shadow:none;
	list-style:none;
}
.top_menu td.current .i_menu li.root a{
	box-shadow:none!important;
}
.i_menu li.root>a:hover {
	color:#0f5fa4;
}
.i_menu li.root {
	padding: 0;
	margin: 0;
	line-height: 25px;
	list-style: none;
	display: block;
	float: left;
	zoom: 1;
	vertical-align: top;
	width: 20%;
	margin-bottom: 20px;
	border-right: 1px dotted #a2abb4;
	min-height: 130px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 3%;
	padding-right: 1%;	
	background:none!important;
}
.i_menu li.root:nth-child(5n){
	float:right;	
	border-right:0;
}
.i_menu li.root:nth-child(5n):after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.i_menu li.root a {
	text-align:left;
	display: block;
	color: #393185;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	text-shadow:none;
	background:none!important;
	border:0;
	line-height:25px;
	box-shadow:none;
}
.i_menu li.root .submenu_1 a {
	color: #444648;
	text-decoration: underline;
	font-size: 12px;
	line-height: 12px;
	font-weight:normal;
	box-shadow:none;
	line-height: 21px;
}
.i_menu li.root .submenu_1 {
	margin:0;
	padding:0;
	list-style:none;
}
.i_menu li.root .submenu_1 a:hover {
	color: #0f5fa4;
}
