.bx_search_container{
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
}

.bx_search_container .bx_field{
	position: relative;
	margin-top: 15px;
	height: 30px;
	border-top:    1px solid #8ca3ae;
	border-right:  1px solid #a0b4be;
	border-bottom: 1px solid #b6c8d1;
	border-left:   1px solid #a0b4be;
	border-radius: 3px;
	background: #fff;
	box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.1);
	line-height: 30px;
}
.bx_search_container .bx_field .bx_input_text{
	position: absolute;
	right: 34px;
	left: 5px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	line-height: 30px;
}
.bx_search_container .bx_field .bx_input_submit{
	position: absolute;
	top: 2px;
	right: 0;
	bottom: 0;
	width: 34px;
	border: none;
	background: url("search_lupe.png") no-repeat left center;
	cursor: pointer;

}

div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:205;
	min-width: 370px;
	margin-left: 11px;
	margin-top:-20px;
	background-color: #FFF;
}

div.title-search-fader {
	display:none;
	background-image: url("fader.png");
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}

p.title-search-preview {
	font-size:12px;
}
div.title-search-result td.title-search-price span {
	font-size: 26px;
}

/*========================*/
.bx_searche{}
.bx_searche .bx_img_element{
	background: #fafafa;
	float: left;
	width: 45px;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	bottom: 0;
}
.bx_searche .bx_item_block{
	min-height: 65px;
	position: relative
}
.bx_searche .bx_image{
	width: 45px;
	height: 45px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e8e8e8;
}
.bx_searche .bx_item_element{
	/*float: left;*/
	padding-left: 10px;
	margin-left: 70px;
}
.bx_searche .bx_item_element hr{
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.bx_searche .bx_item_element a{
	margin-top: 10px;
	display: inline-block;
	color: #4788cb;
	font-size: 13px;
	text-decoration: none;
}
.bx_searche .bx_item_element a b{color: #000;font-weight: normal;}
.bx_searche .bx_item_element a:hover,
.bx_searche .bx_item_element a:hover b{text-decoration: underline;}
.bx_searche .bx_price{
	font-weight:bold;
	font-size:13px;
}
.bx_searche .bx_price .old{
	font-weight:normal;
	text-decoration: line-through;
	color: #636363
}
.bx_item_block.all_result{min-height:0}
.bx_item_block.others_result{
	min-height: 0;
	padding: 0 0 12px;
	line-height: 12px;
}
.bx_item_block.all_result .all_result_title{
	display: block;
	font-size: 12px;
	color: #a7a7a7;
	padding-top: 15px;
	padding-bottom: 10px;
}
.bx_item_block.all_result .all_result_title a{color: #a7a7a7}
.bx_item_block.all_result .all_result_title a:hover{color: #4788cb}
.bx_item_block.all_result a{
	margin-top: 0;
}
.search{
	width: 255px;
	height:40px;
	float:left;
	
}
.search #search{
	height:30px;
}
.search .bx_field{
	margin-top:7px;
	height:26px;
}
.search .bx_search_container .bx_field .bx_input_submit{
	background:url("search_icon.png") no-repeat center;
	opacity:0.6;
}
.search .bx_search_container .bx_field{
	background:#f6f6f6;
	border:none;
}
.search .bx_search_container .bx_field .bx_input_text{
	height:24px;
	line-height:24px;
	font-size:11px;
	font-family:Arial;
}
.searc_mini_button {
	display:none;
	border: 0;
	background: url("search_icon.png") no-repeat center;
	width: 28px;
	height: 26px;
}
@media (max-width:800px){
	.search {
		width:180px;
	}
}
@media (max-width:700px){
	.search {
		width:120px;
	}
}
@media (max-width:630px){
	.bx_input_text{
		display:none;
	}
	.search {
		width: 48px;
	}
	.bx_input_submit{
		display:none;
	}
	.searc_mini_button {
		display:block;
	}
}
@media (max-width:310px){
	.search{
		width:37px;
	}
	.bx_search_container {
		padding: 0 5px;
	}
}
