.bx-wrapper .bx-viewport {
	border:0!important;
	margin:0;
	left:0!important;
	border-radius:3px;
	-moz-box-sizing: border-box; /* Для Firefox */  
	box-sizing: border-box; /* Ширина блока с полями */
	box-shadow:none!important;
}
.bx-wrapper {
	padding-bottom:3%!important;
	background:url("shadow_banner.png") no-repeat bottom;
	background-size:contain;
}
.bx_slider {
	margin:0;
	padding:0;
}
.bx-wrapper .bx-controls-direction a {
	width:40px!important;
	height:40px!important;
	z-index:10;
}
.bx-wrapper .bx-prev {
	background:url("sprite.png") no-repeat 0 0!important;
}
.bx-wrapper .bx-prev:hover {
	background:url("sprite.png") no-repeat 0 -40px!important;
}
.bx-wrapper .bx-next {
	background:url("sprite.png") no-repeat -40px 0!important;
}
.bx-wrapper .bx-next:hover {
	background:url("sprite.png") no-repeat -40px -40px!important;
}
.bx-wrapper .bx-pager {
	text-align: right!important;
	font-size: 0!important;	
	padding-top: 0!important;
	bottom: 13%!important;
	right:30px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	width:20px!important;
	height:20px!important;
	background:url("sprite.png") no-repeat -80px 0!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background:url("sprite.png") no-repeat -80px -20px!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background:url("sprite.png") no-repeat -80px -20px!important;
}
@media (max-width:768px){
	.bx-wrapper .bx-pager {
		text-align: center!important;	
		right:auto!important;
	}
}