/*top_menu*/
.radius_top_menu .min_menu {
	display:none;
	border-radius:5px;
	background: #393185; /* Old browsers */
	background: -moz-linear-gradient(top, #2476b8 0%, #004e96 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2476b8), color-stop(100%,#004e96)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2476b8 0%,#004e96 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2476b8 0%,#004e96 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2476b8 0%,#004e96 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2476b8 0%,#004e96 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2476b8', endColorstr='#004e96',GradientType=0 ); /* IE6-9 */
	height:47px;
	text-align:center;	
	font-size:14px;
	color:#fff;
	text-shadow:1px 1px 1px #0a4f94;
	font-family:Arial,sans-serif;
	font-weight:bold;
	line-height:47px;
	cursor:pointer;
}
.radius_top_menu .min_menu:hover {
	background: #3592dc; /* Old browsers */
	background: -moz-linear-gradient(top, #3592dc 0%, #1668b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3592dc), color-stop(100%,#1668b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3592dc 0%,#1668b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3592dc 0%,#1668b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3592dc 0%,#1668b3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3592dc 0%,#1668b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3592dc', endColorstr='#1668b3',GradientType=0 ); /* IE6-9 */
}
.radius_top_menu {
	border-radius:5px;
	background: #393185; /* Old browsers */
	background: -moz-linear-gradient(top, #2476b8 0%, #004e96 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2476b8), color-stop(100%,#004e96)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2476b8 0%,#004e96 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2476b8 0%,#004e96 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2476b8 0%,#004e96 100%); /* IE10+ */
	background: linear-gradient(to bottom, #393185 0%,#393185 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2476b8', endColorstr='#004e96',GradientType=0 ); /* IE6-9 */
	height:47px;
	margin-bottom:30px;
}
.radius_top_menu .top_menu {
	position:relative;
	width:100%;
	text-align: justify;
	zoom: 1;
	list-style:none;
	width:100%;
	padding:0;
	height:47px;
}
@media (min-width:768px) {
	.radius_top_menu table.top_menu {	
		display:table;
	}
}
.radius_top_menu .top_menu td {
	position:relative;
	padding:0px; 
	text-align:center;	
	font-family:Arial,sans-serif;	
	color:#fff;
	padding-bottom:0;
	height:100%;	
}
.radius_top_menu .top_menu td.current a {
	background: #004789;
	box-shadow: inset 0px 0px 6px 3px #002d6c;
}
.radius_top_menu .top_menu td.current:hover a {
	background: #004789;
	box-shadow: inset 0px 0px 6px 3px #002d6c;
}
.radius_top_menu .top_menu td a {
	font-size:14px;
	color:#fff;
	text-shadow:1px 1px 1px #0a4f94;
	font-family:Arial,sans-serif;
	text-decoration:none;
	font-weight:bold;
	line-height:47px;
	display:block;
	width:100%;
	height:100%;	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.radius_top_menu .top_menu td:hover a {
	background: #3592dc; /* Old browsers */
	background: -moz-linear-gradient(top, #3592dc 0%, #1668b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3592dc), color-stop(100%,#1668b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3592dc 0%,#1668b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3592dc 0%,#1668b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3592dc 0%,#1668b3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3592dc 0%,#1668b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3592dc', endColorstr='#1668b3',GradientType=0 ); /* IE6-9 */
}
.radius_top_menu .top_menu td:hover a span {
	display:block;
}
.radius_top_menu .top_menu td:first-child a {
	border-left:0;
	border-radius:5px 0 0 5px;
}
.radius_top_menu .top_menu td:last-child a {
	border-right:0;
	border-radius:0 5px 5px 0;
}
.radius_top_menu .submenu {
	display:none;
	position:absolute;		
	border-radius: 0 0 5px 5px;
	width:116px;
	top: 47px;
	padding: 20px 30px;
	background: #ecf1f6;
	-moz-box-shadow: 0 5px 7px -2px #9A9A9A;
	-webkit-box-shadow: 0 5px 7px -2px #9A9A9A;
	box-shadow: 0 5px 7px -2px #9A9A9A;
	border-radius: 0 0 5px 5px;
}
.radius_top_menu .top_menu td .submenu a,
.radius_top_menu .top_menu td.current .submenu a {
	background:none!important;
	display: block;
	padding: 6px 0;
	border-radius: 0;
	color: #393185;
	text-align: left;
	font-weight: normal;
	text-decoration: underline;
	border:0;
	text-shadow:none;
	font-size: 12px;
	line-height: 16px;
	box-shadow:none;
}
.radius_top_menu .top_menu td .submenu a:hover { 
	color:#0f5fa4;
}
.radius_top_menu .top_menu td:hover .submenu {
	display:block;
}
.radius_top_menu .top_menu .td_catalog {
	position:static;
}
.radius_top_menu a span.arrow {
	width:100%;
	height:100%;
	display:block;	
}

@media (min-width:771px) {
	.radius_top_menu .top_menu .td_catalog:hover .i_menu  {
		display:block;
	}
	.radius_top_menu .top_menu .parent:hover a span.arrow,
	.radius_top_menu .top_menu .td_catalog:hover a span.arrow
	{
		background:url("submenu_arrow.png") no-repeat bottom ;
	}
	.radius_top_menu .top_menu td a {
		border-right:1px solid #0c5595;
		border-left:1px solid #2174b8;
	}
}
@media (max-width:770px) {
	.radius_top_menu td a span.arrow {
		border-top:1px solid #2174b8;
		border-bottom:1px solid #0c5595;
	}
	.radius_top_menu td:first-child a span.arrow {
		border-top:0;
	}
	.radius_top_menu td:last-child a span.arrow {
		border-bottom:0;
	}
	.radius_top_menu .min_menu {
		display:block;
	}
	.radius_top_menu table.top_menu{
		display:none;
	}
	.radius_top_menu .top_menu td {
		width:100%!important;
		display:block;
	}
	.radius_top_menu {
		height:auto;
	}
	.radius_top_menu .top_menu {
		height:auto;
	}
	.radius_top_menu .top_menu td:hover .submenu {
		display:none;
	}
}