ul.bottom_menu {
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
	width: 16%;
	padding-left: 5%;
	margin-left: 5%;
	overflow: hidden;
	border-left: 1px solid #494e53;
}
ul.bottom_menu li {
	font-size:0;
}
ul.bottom_menu li a {
	color:#393185;
	font-size:11px;
	text-decoration:underline;
	line-height: 19px;
}
ul.bottom_menu li.menu_title a {
	font-weight:bold;
	font-size:13px;
	color:#393185;
}
ul.bottom_menu li a:hover {
	color:#393185;
}
@media all and (max-width:1024px) {
	ul.bottom_menu {
		width: 20%;
	}
}


