h2 {
	font-size:18px;
}
.cp_basket_top {
	color:#393185;
	font-size: 14px;
	height:40px;
}
.cp_basket_top .icon_cart {
	width: 32px;
	height: 25px;
	margin-top: 8px;
	background: url("cart-1.png") no-repeat;
}
.cp_basket_top .item_cart {
	display: block;
	color: #393185;
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 13px;
	margin-top: 0;
	text-decoration: underline;
}
.cp_basket_top .item_cart:hover {
	color: #393185;
}
.cp_basket_top .cart_right {
	margin-left:10px;
}
.cp_basket_top .cart_right a {	
	font-weight: normal;
	color: #393185;	
	font-size: 14px;
	margin-top: 1px;
	text-decoration:none;
}